// Place all the styles related to the Email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#x-box {
	position: absolute;
	top: -1rem;
	left: -1.4rem;
	background: #428bca;
	color: white;
	border-radius: 5rem;
	padding: 0.5rem;
}