u.photos {
    width: 100%;
    display: block;
}

.photos img {
    max-width: 30rem;
}

body {
    background: linear-gradient(100deg, rgba(160,82,45,0.6), rgba(130, 82, 45, 0.8)), url(wood.jpeg) !important;
}

header h1, header h3 {
	
	letter-spacing: 0.05rem;
}

header h1 {
	color: #275379;
	font-size: 4rem;
}

header h3 {
	font-size: 2rem;
	 color: #428bca;
}

.link {
    color: #428bca;
}

.link:hover {
	cursor: pointer;
	color: black;
}


#top {
	background: linear-gradient(rgba(200, 200, 200, 0.9), rgba(255, 255, 255, 0.9));
	border-radius: 1rem;
	z-index: 9999;
	color: black;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px}
.fa{font-size:24px;margin-right:5px}
.row-first{margin-bottom:10px;margin-top:8px}
.title-contact{margin-top:32px;display:none;}
.contact-email { display:none; }
a{transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
.quick-contact{color:#fff;background-color:#000;text-align:center}
.contact a{-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;display:block;background-color: white;
margin-bottom: 0.4rem;-size:20px;text-align:center;color: black;padding:7px}
.contact a:hover{background-color:rgba(255,255,255,0.85);text-decoration:none}
.contact a.skype:hover,.fa-skype{color:#00aff0}
.contact a.google:hover,.fa-google-plus{color:#dd4b39}
.contact a.linkedin:hover,.fa-linkedin{color:#0e76a8}
.contact a.twitter:hover,.fa-twitter{color:#00acee}

.popup {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 20rem;
	background: white;
	border-radius: 0.5rem;
	z-index: 9999;
}

.form-area {
	padding: 1rem;
	height: 100%;
}

.form-area p {
	width: 50%;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}